.card{
    width: 60%;
    margin: auto;
    margin-top: 5vh;
    .card-header{
        font-size: 1.5rem;
    }
}

.text-danger{
    font-size: 0.9rem;
}

.imageDiv{
    margin: 1rem;
    img{
        height: 10rem;
        box-shadow: 0px 1px 5px black;
    }
}