#banner-sect{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url("../images/Banner-home.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

.main-content{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1{
        color: white;
        font-size: 3rem;
    }
}